# vim: ft=sh

##
# .aliases
#
# Some of these aliases from https://github.com/mathiasbynens/dotfiles/blob/master/.aliases
#
# @author Dane MacMillan <work@danemacmillan.com>
# @link https://github.com/danemacmillan/dotfiles
# @license MIT

# View and edit danemacmillan's HOWDOI.md file.
alias how='vi "${DOTFILES_PATH}/HOWDOI.md"'

##
# Filesystem
LS_IGNORES="--ignore=.DS_Store --ignore='Icon'$'\r' --ignore=.CFUserTextEncoding --ignore=.localized"
LS_DEFAULTS="-lAhviNp"
# List symlinked directories alongside regular directories.
# Modified from https://unix.stackexchange.com/a/412041/103243
lsdirfirst() {
	local lsoptions="${LS_DEFAULTS}"
  if [[ -n "${1}" ]]; then
    local lsoptions="${1}"
  fi

	ls --color ${LS_IGNORES} ${lsoptions} -q "$@" |
		awk '{if(/^total [0-9\.]+\w+?$/ || /\/$/) n=1; else n=2; print n, $0}' |
		sort -sk1,1 | cut -d' ' -f2-
}
alias lll="ls --color --group-directories-first ${LS_DEFAULTS} ${LS_IGNORES}" # Original ll without function.
alias ll="lsdirfirst ${LS_DEFAULTS}"
alias llt="ls --color ${LS_DEFAULTS}t ${LS_IGNORES}" # Sort by newest first.
alias llx="lsdirfirst ${LS_DEFAULTS}X" # Sort by extension.
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ,,='cd -'
#alias imgls="imgls *.jpg *.jpeg *.gif *.png"
alias rm='rm -rf'
# Note that -a is recursive, and, more importantly, preserves all ACLs, should
# any be set on the directory being copied.
# http://unix.stackexchange.com/a/43608
alias cp="cp -a"
# DO NOT EVER ALIAS mkdir with -p parents option. IT WILL BREAK INHERITED ACL
# PERMISSIONS.
# http://serverfault.com/questions/197263/conflicts-between-acls-and-umask
# http://savannah.gnu.org/bugs/?19546
# http://debbugs.gnu.org/cgi/bugreport.cgi?bug=14371
#alias mkdir="mkdir -p"
alias du="du -h --time"
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"
alias belinux="find . -type f -exec dos2unix {} \;"
# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
alias cleanup_composer="composer selfupdate --clean-backups"

# By default ag/silver_searcher should search hidden files. Note that this is
# not the same as the ignores in `.agignore`.
alias ag="ag --hidden --column -B0 -A0 --color-path='30;43' --color-line-number='30;1' --color-match='1;32'"
# Enhance ripgrep (ag) as well with good defaults.
alias rg="rg --hidden --search-zip --smart-case --no-ignore-vcs --maxdepth=20"

##
# Network
#alias listen='lsof -i -P | grep LISTEN'
alias listen='lsof -Pnl +M -i4'
alias nsp='netstat -tulpn'
alias ss='lsof -i'
alias ipp="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
alias vs="vagrant global-status --prune"
# See http://ipinfo.io/developers for more info.
alias ipgeo="curl ipinfo.io"
alias vmt="/usr/bin/vmware-toolbox-cmd"
alias flushdns='sudo killall -HUP mDNSResponder'
# Full port scan, service version, and OS scan (sudo required).
alias portscan="sudo nmap -vv -Pn -p1-65535 -sV -O --reason"

##
# Server
# Get the number of php-fpm processes, and their average size in MB.
#alias fpmstat='ps aux | grep php-fpm | wc -l ; ps --no-headers -o "rss,cmd" -C php-fpm | awk '{ sum+=$1 } END { printf ("%d%s\n", sum/NR/1024,"M") }'
alias fpmstat="ps aux | grep php-fpm | wc -l ; ps --no-headers -o \"rss,cmd\" -C php-fpm | awk '{ sum+=\$1 } END { printf (\"%d%s\n\", sum/NR/1024,\"M\") }'"

##
# Git
# Just for reference. Do not rewrite history.
#alias grewritelast='GIT_COMMITTER_DATE="$(date -d \'24 hours ago\')" git commit --amend --date "$(date -d \'24 hours ago\')" && git push --force'
command_exists hub && alias git="hub"

##
# History
# Purge all history
alias historypurgeall='cat /dev/null > ~/.bash_history && history -c && history -w'
# Source: http://thoughtsbyclayg.blogspot.ca/2008/02/how-to-delete-last-command-from-bash.html
alias historypurgelast='history -d $((HISTCMD-2)) && history -d $((HISTCMD-1))'

##
# PHP
# Note: this is very specific to my standard virtual machine. Change domain.
alias phpdebug='PHP_CLI_DEBUG="true" COMPOSER_ALLOW_XDEBUG=1 PHP_IDE_CONFIG="serverName=develop.vagrant.dev" $(which php) -d "xdebug.idekey=PHPSTORM" -d "xdebug.remote_host=10.0.2.2" -d "xdebug.remote_port=9000" -d "xdebug.remote_enable=1" -d "xdebug.remote_autostart=1" -d "xdebug.remote_handler=dbgp"'
if command_exists linus \
	&& [[ -e "${HOME}/bin/linus" ]] \
	&& php -m |grep -q xdebug \
; then
	alias linusdebug='PHP_CLI_DEBUG="true" COMPOSER_ALLOW_XDEBUG=1 PHP_IDE_CONFIG="serverName=linuscli" $(which php) -d "xdebug.idekey=PHPSTORM" -d "xdebug.remote_host=192.168.70.1" -d "xdebug.remote_port=9000" -d "xdebug.remote_enable=1" -d "xdebug.remote_autostart=1" -d "xdebug.remote_handler=dbgp" ${HOME}/bin/linus'
fi


##
# Misc
alias c='clear'
alias x='exit'
alias \:q='exit'
alias vi='vim'
#alias mysql='mycli'
#alias btop="mytop -u user -p '' -h localhost -d database"
alias copyidrsa="pbcopy < ${HOME}/.ssh/id_rsa"
alias copyidrsapub="pbcopy < ${HOME}/.ssh/id_rsa.pub"
# Replace current shell with new shell. This utlimately refreshes all the
# variables, functions, settings, etc that were just added in current session.
alias R="echo -e '${BBLUE}Reloading shell...${RESET}'; exec -l $SHELL"

##
# My E-key is somewhat busted. Also, general typos I always make.
# I don't know how to ever eit.
alias xit="exit"
alias eexit="exit"
alias eeexit="exit"
alias eit="exit"
alias exot="exit"
alias gut="git"

##
# CentOS-specific Aliases
if command_exists yum ; then
	alias update="\
		dotfiles; \
		composer selfupdate; \
		npm install npm@latest -g; \
		yum -y update; \
		yum clean all; \
		command_exists gcloud && gcloud components update \
	"
fi

##
# MacOS-specific Aliases
if command_exists brew ; then
	# Depends on Firefox Tools Adapter: https://developer.mozilla.org/en-US/docs/Tools/Firefox_Tools_Adapter
	# TODO: Add checking.
	alias debugios='open /Applications/Xcode.app/Contents/Developer/Applications/Simulator.app; sleep 2s; ios_webkit_debug_proxy'
	alias elcapinstallercreate="sudo /Applications/Install\ OS\ X\ El\ Capitan.app/Contents/Resources/createinstallmedia --volume /Volumes/ElCapInstaller --applicationpath /Applications/Install\ OS\ X\ El\ Capitan.app --nointeraction"
	alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"
	alias flushdns="dscacheutil -flushcache"
	alias rebuildopenwithmenu='/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user; killall Finder; echo "Rebuilt Open With, relaunching Finder"'

	alias update="\
		softwareupdate --install --all --verbose; \
		dotfiles; \
		composer selfupdate; \
		npm install npm@latest -g; \
		command_exists gcloud && gcloud components update --quiet; \
		brew update; \
		brew upgrade; \
		brew doctor; \
		brew cask doctor; \
		brew cleanup; \
		brew cask outdated \
	"
fi
