## .functions

#
# Start irssi in tmux with nicklist in side pane.
#

# Based on http://clusterfuck.logdown.com/posts/52323-when-irssi-meets-tmux
# create the pane with irssi's nicklist
function irssi_nickpane() {
    tmux renamew irssi # name the window
    tmux -q setw main-pane-width $(( $(tput cols) - 21)) # set the main pane width to the total width-20
    tmux splitw -v "cat ~/.irssi/nicklistfifo" # create the window and begin reading the fifo
    tmux -q selectl main-vertical # assign the layout
    tmux selectw -t irssi # select window 'irssi'
    tmux selectp -t 1 # select pane 0
    tmux send-keys -t 1 "/nicklist fifo" C-m
}

# irssi wrapper
# Note: only run this within tmux, otherwise nicklist will run silently
# and invisibly.
function irssi() {
		tmux new
    irssi_nickpane
    $(which irssi) # launch irssi
}

# repair running irssi's nicklist pane
function irssi_repair() {
    tmux selectw -t irssi
    tmux selectp -t 1
    tmux killp -a # kill all panes
    irssi_nickpane
}