## OS
*~
*.lock
*.DS_Store
*.DS_Store?
*.localized
*.swp
*.out
Thumbs.db
composer.phar
Desktop.ini
desktop.ini
._*
ehthumbs.db
.Spotlight-V100
.Trashes

## For quick testing, create any directory with ~ in front of it,
## and it will be ignored.
~*/

## IDEs
.idea/
.idea_modules/
nbproject/

## Vagrant
.vagrant/

## Composer
vendor/

## Node
node_modules/
bower_components/

## Vim
.vim/.netrwhist
.vim/.viminfo
.vim/.vimtags

## ctags
tags

## Weechat
home/.config/weechat/irc.conf
home/.config/weechat/*.log
home/.config/weechat/*.upgrade
home/.config/weechat/weechat_fifo*

## Rclone
home/.config/rclone/rclone.conf

# Miscellaneous dotfiles
.bash_history
.extra
.gitconfig.local
.rclone.conf
linus.yaml
