# vim: ft=sh

##
# Tweak Readline configurations.
#
# Documentation:
# - https://www.gnu.org/software/bash/manual/html_node/Readline-Init-File-Syntax.html#Readline-Init-File-Syntax
# - https://ss64.com/bash/syntax-inputrc.html
#
# Some inspiration:
# - https://github.com/paulirish/dotfiles/blob/master/.inputrc
#
# @author Dane MacMillan <work@danemacmillan.com>
# @link https://github.com/danemacmillan/dotfiles
# @license MIT

# Case-insensitive tab completion
set completion-ignore-case on

# Treat hyphens and underscores as equivalent
set completion-map-case on

# If set to ‘on’, completed directory names have a slash appended. The default
# is ‘on’.
set mark-directories on

# If set to ‘on’, completed names which are symbolic links to directories have
# a slash appended (subject to the value of mark-directories). The default
# is ‘off’.
set mark-symlinked-directories on

# Do not autocomplete hidden files unless the pattern explicitly begins with a dot
set match-hidden-files off

# Show all autocomplete results at once
set page-completions off

# If there are more than 200 possible completions for a word, ask to show them all
set completion-query-items 200

# Show extra file information when completing, like `ls -F` does
set visible-stats on

# Be more intelligent when autocompleting by also looking at the text after
# the cursor. For example, when the current line is "cd ~/src/mozil", and
# the cursor is on the "z", pressing Tab will not autocomplete it to "cd
# ~/src/mozillail", but to "cd ~/src/mozilla". (This is supported by the
# Readline used by Bash 4.)
set skip-completed-text on

# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
#set input-meta on
#set output-meta on
#set convert-meta off

# No dings allowed
set bell-style none

# Display color of tab suggestion item
set colored-stats on

# Tabbing will cycle through all path options. I do not like this behaviour.
#"\t": menu-complete
# With the above enabled, these will ensure that a first TAB will display all
# path options before cycling through them all.
#set menu-complete-display-prefix on
#set show-all-if-ambiguous on
