# Note that this file should be modified for the environment.
# For example, innodb_buffer_pool_size should be MUCH higher on production.

[client]
#pager = grcat ~/.grcat

[mysql]
port = 3306
socket = /var/lib/mysql/mysql.sock

[mysqldump]
max_allowed_packet = 512M
# http://serverfault.com/questions/547438/mysqldump-has-a-quick-option-why-isnt-this-enabled-by-default
# Note: mysql opt is on by default, which includes quick. If you ever have
# issues dumping, it might be because all inserts are in a single statement,
# which can be very memory intensive. Keep here for reference.
#quick

[mysqld_safe]
pid_file= /var/lib/mysql/mysqld.pid
# Set here for additional error logging in safe mode.
log_error = /var/log/mysql/error.log

[mysqld]
socket = /var/lib/mysql/mysql.sock
pid_file = /var/lib/mysql/mysql.pid
default_storage_engine = InnoDB
datadir = /home/mysql
tmpdir = /dev/shm
user = mysql
#bind_address = 127.0.0.1
port = 3306
explicit_defaults_for_timestamp = 1
skip_name_resolve

## Safety
wait_timeout = 300
max_allowed_packet = 128M
max_connect_errors = 1000000
# User home dir is symlinked to /var/lib/mysql
symbolic_links = 1
# Increase this for imports/exports if receiving frequent errors such as
# "Lost connection to MySQL server at...." 10 is the default.
connect_timeout = 10

## Caches and limits
query_cache_type = 0
query_cache_size = 0
max_connections = 600
thread_cache_size = 50
open_files_limit = 65535
table_definition_cache = 4096
table_open_cache = 4096
sort_buffer_size = 2M
join_buffer_size = 4M
read_rnd_buffer_size = 16M
# Keep these two low, as recommended: http://stackoverflow.com/a/14652396
tmp_table_size = 32M
max_heap_table_size = 32M

## InnoDB
innodb_flush_method = O_DIRECT
innodb_log_files_in_group = 2
innodb_log_file_size = 512M
innodb_flush_log_at_trx_commit = 1
innodb_open_files = 65535
#innodb_buffer_pool_size = 30G
innodb_buffer_pool_size = 16M
# see ERROR 1114 (HY000) at line 14829: The table  is full
#innodb_data_file_path = ibdata1:10M:autoextend
# The above is not necessary as tables are stored per file, which also makes
# backups easier to perform.
innodb_file_per_table = 1
# http://dba.stackexchange.com/questions/2918/about-single-threaded-versus-multithreaded-databases-performance/2948#2948
innodb_thread_concurrency = 0
innodb_concurrency_tickets = 900
innodb_commit_concurrency = 0
innodb_thread_sleep_delay = 10000
innodb_log_buffer_size = 64M
##deprecated: innodb_additional_mem_pool_size = 16M
innodb_io_capacity = 800
##innodb_flush_neighbor_pages = cont
innodb_lock_wait_timeout = 120
innodb_buffer_pool_instances = 4
innodb_read_io_threads = 64
innodb_write_io_threads = 64
innodb_flush_log_at_trx_commit = 1
# https://forums.cpanel.net/threads/starting-mysql-error-the-server-quit-without-updating-pid-file.402772/
#innodb_use_native_aio = 0

## MyISAM
myisam_recover_options = FORCE,BACKUP
myisam_sort_buffer_size = 64M
key_buffer_size = 256M
read_buffer_size = 4M

## Fulltext search
# http://dev.mysql.com/doc/refman/5.6/en/fulltext-fine-tuning.html
innodb_ft_min_token_size = 2
ft_min_word_len = 2

## General log
general_log = 0
general_log_file = /var/log/mysql/general.log

## Slow log
slow_query_log = 0
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 60
log_queries_not_using_indexes = 0

# Error log
# There are a tonne of warnings generated with our codebase.
#log_warnings = 0
log_error = /var/log/mysql/error.log

## Binary log
# Note: this is only really necessary when using replication, but also to
# replay operations since backup over the backup file. Read:
# http://dba.stackexchange.com/questions/47046/why-do-the-mysql-bin-log-files-still-exist-after-a-purge-or-flush
#log_bin = /home/mysql/bin
#expire_logs_days = 2
#sync_binlog = 1
